# Django
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgres://sih_user:sih_password@db:5432/sih_db
POSTGRES_DB=sih_db
POSTGRES_USER=sih_user
POSTGRES_PASSWORD=sih_password
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# Encryption
FIELD_ENCRYPTION_KEY=base64-encoded-32-byte-key-change-me

# Mobile Money
MTN_MOMO_API_KEY=
MTN_MOMO_API_SECRET=
MTN_MOMO_SUBSCRIPTION_KEY=
MTN_MOMO_ENVIRONMENT=sandbox
MTN_MOMO_CALLBACK_URL=https://yourdomain.com/api/v1/payments/momo/callback/

ORANGE_MONEY_MERCHANT_KEY=
ORANGE_MONEY_API_URL=https://api.orange.com/orange-money-webpay/cm/v1

# Celery
CELERY_BROKER_URL=redis://redis:6379/1

# PharmaCheck
PHARMACHECK_EXTERNAL_API_URL=
PHARMACHECK_API_KEY=
